
<div class="split left">
  <div class="centered">
    <img src="{{user.image}}" alt="profile pic">
    <p class= 'profileTxt'>Hello {{user.email}} , welcome to your digital recipes Book</p>
  </div>
  <form method="POST" action="/upload-pic" enctype="multipart/form-data">
    <input type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form>  
  <button class ='delete'>Delete Account</button>
</div>
<div class="split right">
  {{#each user.fav}}
  <a href="/myRecipe/{{this._id}}" type="submit"><h2>{{this.title}}</h2></a>

      <form action="/myRecipe/{{this._id}}/delete" method="post">
    <button class="btn btn-info">Delete</button>
  </form>
  {{/each}}
</div>
