
<div class="split left">
  <div class="centered">
    <img src="{{user.image}}" alt="profile pic">
    <p class= 'profileTxt'>Hello {{user.email}} , welcome to your digital recipes Book</p>
  </div>
  <form method="POST" action="/upload-pic" enctype="multipart/form-data">
    <input type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form>  
  <button class ='delete'>Delete Account</button>
</div>
<div class="split right">
        <div class="row">
   {{#each recipe}}
   <h1> {{this.title}} </h1>
   <div>
     <img src="{{this.image}}" alt="">
    <h3> {{this.summary}} </h3>
   </form>  
  <button class ='delete'>Delete Account</button>
</div>
</form>  
  <button class ='open'>open</button>
</div>
   {{/each}}
</div>
