<div class="dm">
    <h1 id="txt1df">
        Different day, different meal, for everyone 
        <style>
               #txt1df{ background-color: white; opacity : 0.3 }     
         </style>
    </h1>

    <form class = "louise" action="/" method="POST">
        
         <div class="container">
            <label for="exampleFormControlSelect1">Cuisine </label>
          <select class="form-control" id="exampleFormControlSelect1" name="cuisine">
            <option value="">Random</option>
        {{#each typesCusine}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
          </select>
         </div>
       
           <div class="container">   
          <label for="exampleFormControlSelect1">Diet  .</label>
          <select class="form-control" id="exampleFormControlSelect1" name="diet">
            <option value="">None</option>
        {{#each diet}} 
        <option value={{this}}>{{this}}</option>
        {{/each}}
          </select>
        </div> 
            <div class="container">   
          <label for="exampleFormControlSelect1">Intolerances</label>
          <select class="form-control" id="exampleFormControlSelect1" name="intolerances">
            <option value="">None</option>
        {{#each intolerances}} 
        <option value={{this}}>{{this}}</option>
        {{/each}}
          </select>
       </div> 
            <div class="container">   
          <label for="exampleFormControlSelect1">Types</label>
          <select class="form-control" id="exampleFormControlSelect1" name="types">
            <option value="">None</option>
        {{#each types}} 
        <option value={{this}}>{{this}}</option>
        {{/each}}
          </select>
      </div> 
              <div id="searchBoard">
                <button type="submit">Search</button>
        </div>
      </form>
            <button class = 'justRandom' id="justRandom">
                    <a href="/random"> Just a random</a>
            </button>

</div>