<link rel="stylesheet" href="/stylesheets/recipes.css" />







        <div class="corpo">
             <div style=" float:left">
    <div class="row">
     {{#each recipe}}
       <div class="row">
         <div class="card">
           <h3><img src="{{this.image}}" alt=""></h3>
           <h2>{{{this.instructions}}}</h2>

     <p>{{this.title}}</p>

    </div>
  </div>
    {{/each}}
</div>
         </div>
     <div style=" float:right">
         <div class="row">
     {{#each recipes}}
       <div class="raw">
         <div class="card">
           <h1> {{{this.title}}} </h1>
           <h1> <img src="{{this.image}}" alt=""> </h1>
      <h3>{{{this.summary}}} </h3>
      <h3> {{{this.instruction}}} </h3>
      <h3> ready in {{this.readyInMinutes}} minutes</h3>
      <h3> servings {{this.servings}} </h3>
    </div>
  </div>

    {{/each}}
                     <form>
           <a href="/myRecipe/{{this.id}}" > <img src="images/fav.png" alt=""> </a>
          </form>
         </div>
</div>
