
        <div class="corpo">
    <div class="row">
     {{#each recipe}}
      <h1 id="title"> <span>{{this.title}}</span> </h1>
        <div id="fisrtContainer">
            <span>
          <h3 id="image"><img src="{{this.image}}" alt=""></h3>
            <h3 id="summary"> <span> {{{this.summary}}} </span> </h3>
            </span>
            </div>
    {{/each}}
    </div>
     <div>
         <div class="row">
     {{#each recipes}}
      <h1 id="title"> <span>{{this.title}}</span> </h1>
        <div id="fisrtContainer">
            <span>
          <h3 id="image"><img src="{{this.image}}" alt=""></h3>
          <h3 id="readyIN"> <span> ready in {{this.readyInMinutes}} minutes </span> </h3>
          <h3 id="serving"> <span> servings {{this.servings}} peoples </span> </h3>
            <h3 id="summary"> <span> <{{{this.summary}}} </span> </h3>
            </span>
        </div>

        <h3 id="instructions"> <span> {{{this.instructions}}} </span> </h3>
        <div id="refresh">
     <button type="button" onClick="window.location.reload();" class="btn btn-secondary btn-sm">Another recipe</button>
       </div>
        <form>
           <a href="/myRecipe/{{this.id}}" > <img class="img-heart" src="images/fav.png" alt=""> </a>
          </form>
    {{/each}}
 </div>
</div>
